# lab 12

In [7]:
import pandas as pd

df = pd.read_excel('s3://fricke-241/house_price.xls')

df.tail()

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
36,1068,169900,2,1,single-family home,36155,1950,1556,61,421
37,1099,379000,3,4,single-family home,8276,2017,1922,19,270
38,1101,315000,3,4,single-family home,61855,1998,2025,21,261
39,1102,445000,5,4,single-family home,21780,2010,3504,19,69
40,1104,529900,5,5,single-family home,19166,1998,5202,90,309

In [2]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 3.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [14]:
#3.1
df['unit_price'] = df['price']/df['area']

df.head(10)

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,unit_price
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222

In [18]:
#3.2
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

In [24]:
#3.3
print(   'the avg price is ${:,g}'.format(df.loc[   df['bathroom']>2   ]['price'].mean()))

the avg price is $383,645

In [29]:
#3.4
print('mean price is ${:,g}'.format(df['unit_price'].mean()))

mean price is $167.459

In [30]:
print('median price is ${:,g}'.format(df['unit_price'].median()))

median price is $130.134

In [32]:
#3.5
df.groupby('house_type').mean()['unit_price']

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: unit_price, dtype: float64

In [33]:
#3.6
from scipy import stats

In [34]:
model = stats.linregress(   df['area'], df['price']   )

In [37]:
print('slope is {:2f}'.format(model.slope))
print('intercept is {:2f}'.format(model.slope))
print('p value is {:2f}'.format(model.pvalue))
print('r square is {:2f}'.format(model.rvalue**2))

slope is 79.954957
intercept is 79.954957
p value is 0.001340
r square is 0.234390

In [40]:
#3.7
print( 'the price of a 2,000 sqft house is ${:,g}'.format(2000*model.slope+model.intercept))

the price of a 2,000 sqft house is $316,165